@model DTO.Model.Passenger

@{
    ViewBag.Title = "Index";
    int? id = ViewBag.ID as int?;
}

<h2>Add Passenger</h2>


    @using (Html.BeginForm("AddPassengerFerry", "Passenger", FormMethod.Post))
    {
        @Html.Hidden("FerryID", id)

        <p>
            @Html.Label("Name:")
            @Html.EditorFor(p => p.Name)
            @Html.ValidationMessageFor(p => p.Name)
        </p>
        <p>
            @Html.Label("Gender:")
            @Html.EditorFor(p => p.Gender)
            @Html.ValidationMessageFor(p => p.Gender)
        </p>
        <p>
            @Html.Label("Birthday:")
            @Html.TextBoxFor(p => p.Birthdate, new { @class = "datepicker" })
            @Html.ValidationMessageFor(p => p.Birthdate)
        </p>

        <input type="submit" value="Add Passenger" />
    }
